<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" href="/images/icon.png">
	<title>EEweb</title>

	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<link href="/stylesheets/css/build.css" rel="stylesheet" />

	<link href="/stylesheets/css/demointerface.css" rel="stylesheet">

	<link href="/stylesheets/css/editor.css" rel="stylesheet">
	<link rel="stylesheet"
		href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
	
</head>


<body>
	<!-- 側邊攔 -->
	<nav id="sidebar">
		<!-- 側邊攔tab -->
		<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
			<a class="nav-item nav-link col-lg-6 active" id="nav-home-tab" data-toggle="tab" href="#home" role="tab"
				aria-controls="nav-home" aria-selected="true">元件</a>
			<a class="nav-item nav-link col-lg-6" id="nav-profile-tab" data-toggle="tab" href="#profile" role="tab"
				aria-controls="nav-profile" aria-selected="false">頁面</a>
			<!-- <a class="nav-item nav-link col-lg-4" id="nav-contact-tab" data-toggle="tab" href="#conte" role="tab"
				aria-controls="nav-contact" aria-selected="false">樣式</a> -->
		</div>
		<div class="tab-content" id="myTabContent">
			<!-- 側邊攔tabHome -->
			<div class="tab-pane fade show active" id="home" style="height: 90vh;" role="tabpanel"
				aria-labelledby="home-tab">
				<% if(type == 1) { %>
				<%- include('dragItem_b') %>
				<% } else { %>
				<%- include('dragItem_e')%>
				<% } %>
			</div>
			<!-- 側邊攔tabProfile -->
			<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
				<ul class="list-unstyled components">
					<% for(let i = 0; i < rows.length; i++) {%>
					<li>
						<a class="las la-file" href="javascript:void(0);"
							onclick="changePage(`<%= rows[i].tpName %>`, `<%= i %>`)">&ensp;<%= rows[i].tpName %></a>
					</li>
					<% } %>
				</ul>

			</div>
			<!-- 側邊攔tabConte -->
			<div class="tab-pane fade show" id="conte" data-section="style" role="tabpanel" aria-labelledby="style-tab">
			</div>

		</div>
	</nav>

	<nav class="navbar navbar-expand navbar-light p-1">
		<div class="container-fluid ">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<a class="navbar-brand p-0 " href="/">
					<img src="/images/Logo.png" alt="" loading="lazy">
				</a>
			</div>


			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="nav justify-content-center">
					<li class="nav-item">
						<button class="btn" id="mobile-view">
							<i class="las la-mobile-alt"></i>
						</button>
					</li>
					<li class="nav-item">
						<button class="btn" id="tablet-view">
							<i class="las la-tablet-alt"></i>
						</button>
					</li>
					<li class="nav-item">
						<button class="btn" id="desktop-view">
							<i class="las la-desktop"></i>
						</button>
					</li>
				</ul>
			</div>

			<button id="navCopy" class="btn btn-outline-primary m-2" data-toggle="modal" data-target="#webCode"
				type="submit">
				<i class="las la-code"></i>
			</button>
			<button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#theme">
				儲存
			</button>
		</div>
	</nav>





	<!-- vvveb -->
	<div id="vvveb-builder">
		<div id="canvas" class="desktop">
			<div id="iframe-wrapper">
				<div id="iframe-layer">
					<div id="highlight-box">
						<div id="highlight-name"></div>
					</div>

					<div id="select-box">

						<div id="wysiwyg-editor">
							<a id="bold-btn" href="" title="Bold"><i><strong>B</strong></i></a>
							<a id="italic-btn" href="" title="Italic"><i>I</i></a>
							<a id="underline-btn" href="" title="Underline"><u>u</u></a>
							<a id="strike-btn" href="" title="Strikeout"><del>S</del></a>
							<a id="link-btn" href="" title="Create link"><strong>a</strong></a>
						</div>

						<div id="select-actions">
							<a id="drag-btn" href="" title="Drag element"><i class="la la-arrows"></i></a>
							<a id="up-btn" href="" title="Move element up"><i class="la la-arrow-up"></i></a>
							<a id="down-btn" href="" title="Move element down"><i class="la la-arrow-down"></i></a>
							<a id="delete-btn" href="" title="Remove element"><i class="la la-trash"></i></a>
						</div>
					</div>
				</div>
				<iframe src="about:none" id="clientframe"></iframe>
			</div>
		</div>
	</div>
	<!-- vvveb end -->






	<!-- 彈出視窗 複製code -->
	<div class="modal" id="webCode">
		<div class="modal-dialog modal-dialog-scrollable modal-lg" style="width:800px">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">程式碼</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<p id="newCode" style="white-space: pre-wrap"></p>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="copyBtn" name="newCode">複製</button>
				</div>

			</div>
		</div>
	</div>
	<!-- 彈出視窗 儲存編輯 -->
	<div class="modal fade" id="theme">
		<div class="modal-dialog modal-dialog-scrollable ">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title"><span onclick="clickinput(1)">為您的作品輸</span><span onclick="clickinput(2)">入標題與概述</span></h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<div class="modal-body" style="padding: 0; ">
					<div class="container-contact100">
						<div class="wrap-contact100">
							<div class="wrap-input100 validate-input" data-validate="">
								<input id="name" class="input100" type="text" name="name" placeholder="標題">
								<span class="focus-input100"></span>
							</div>
							<div class="wrap-input100 validate-input" data-validate="Please enter your message">
								<textarea id="explanation" class="input100" name="message"
									placeholder="作品描述"></textarea>
								<span class="focus-input100"></span>
							</div>

						</div>
					</div>
				</div>
				<!-- Modal footer -->
				<div class="modal-footer" style="border-top:0;background: #e6e6e6;">
					<button type="button" id="okButton" class="btn btn-primary">送出</button>
				</div>
			</div>
		</div>
	</div>



	<div id="under_canvas"></div>


	<!-- builder code-->
	<script src="/javascripts/js/dnd.js"></script>
	<script src="/javascripts/js/builder.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

	<script>

		$(document).ready(function () {
			edit.Builder.init('/templated/<%= template %>/index.html', function () { });
		});

		let CurrentPosition = 0;
		let pBody = [];
		let pName = [];
		<% rows.forEach(row => { %>
			pBody.push(`<%- row.body %>`);
			pName.push(`<%- row.tpName %>`);
		<% }); %>

			$("#okButton").click(function () {
				pBody[CurrentPosition] = CopyDom();
				let p = pBody.map((item, index) => {
					return { body: item, name: pName[index] };
				});
				let account = [
					{ name: $("#name").val() },
					{ explanation: $("#explanation").val() },
					p,
				];
				$.ajax({
					type: "post",
					url: "/edit/demo",
					data: JSON.stringify(account),
					contentType: "application/json; charset=utf-8",
					complete() {
						window.location.href = window.location.origin + '/edit/demo';
					}
				});
			});



		function CopyDom() {
			let clientFrameWindow = $('#clientframe').get(0).contentWindow;
			let editcode = $(clientFrameWindow.document).find('body').prop('outerHTML');
			// 刪除註解
			if (editcode) {
				let comment = editcode.match(/<!--?((.(?!(-->)))*.)-->/g);
				if (comment) {
					for (let a = 0; a < comment.length; a++) {
						editcode = editcode.replace(comment[a], "");
					}
				}

				// 刪除script
				let js = editcode.match(/<script(.|\n)*?<\/script>/g);
				if (js) {
					for (let a = 0; a < js.length; a++) {
						editcode = editcode.replace(js[a], "");
					}
				}
			} else {
				editcode = '<body></body>';
			}
			return editcode;
		}
		function changePage(page, index) {
			if (page == 'home') {
				pBody[CurrentPosition] = CopyDom();
				CurrentPosition = index;
				edit.Builder.init(`/templated/<%= template %>/index.html`, function () { });
			} else {
				pBody[CurrentPosition] = CopyDom();
				CurrentPosition = index;
				edit.Builder.init(`/templated/<%= template %>/${page}.html`, function () { });
			}
		}
	</script>
	<script>
		function clickinput(num) {
			let a = ['電商網站', `這邊我改了登入頁的樣式和按鈕,
明天要記得改首頁的圖片樣式後,
截止日期8/25`];
			let b = ['blog', `我們改了標題文字,加了EEWeb讚,
最後加了意見回饋表單,
截止日期 8/25`];
			if(num == 1){
				$('#name').val(a[0]);
				$('#explanation').val(a[1]);
			}
			if(num == 2){
				$('#name').val(b[0]);
				$('#explanation').val(b[1]);
			}
		}
	</script>
</body>

</html>